@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*mis css*/

html, body {
    font-family: "Montserrat", sans-serif;
}

select, button {
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    border: rgba(0, 0, 0, 0.452) solid;
    margin: 50px;
    padding: 50px;
    border-radius: 30px;
}

.container h1 {
    font-size: 50px;
    font-weight: bold;
    background-color: rgba(0, 255, 255, 0.281);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.pokemon-form {
    background-color: rgba(200, 255, 0, 0.247);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 20px;
    margin-bottom: 20px;
}

#pokemon-select {
    width: 150px;
    height: 40px;
}

#get-pokemon {
    width: 100px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.141);
    border-radius: 10px;
    transition: 0.2s all linear;
}

#get-pokemon:hover {
    transform: scale(1.2);
    cursor: pointer;
}

#info-pokemon h2 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
}

#info-pokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#info-pokemon img {
    width: 150px;
    border: rgba(0, 0, 0, 0.214) solid;
    margin-bottom: 10px;
    border-radius: 10px;
}